.container{
    margin-bottom: 100px;
}
.color-bg{
    background-color: #fceae8;
     border-radius: 10px;
}
.carousel-item{
    padding: 10px 30px;
}
.price{
    color: #FF136F;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categorise h1{
    color: white;
}
.categorise img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 15px lightgrey;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#Contact-us{
    height: 300px;
}
footer{
    text-align: center;
}
.Contact-us h5{
    color: #808080;
}